<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel='stylesheet' href='/css/{{view}}.css' />
  </head>
  <body>
    {{{body}}}
    <script src="/js/{{view}}.bundle.js"></script>
  </body>
</html>
